{% extends 'base.html.twig' %}


{% block subHeader %}
    <!-- ======= Welcome Section ======= -->
    <section id="welcome">
        <div id="welcome-carousel" class="carousel slide" data-bs-ride="carousel" data-interval="5000">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#welcome-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                {% for i in range(1,3) %}
                    <button type="button" data-bs-target="#welcome-carousel" data-bs-slide-to="{{i}}" aria-label="Slide {{ i+1}}"></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for i in range(1,4) %}
                    <div class="carousel-item {% if i == 1 %}active {% endif %}">
                        <img src="{{asset("assets/img/slideShow1/isims"~ i ~".jpg")}}" class="d-block w-100">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#welcome-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#welcome-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="carousel-caption px-auto" data-aos="zoom-out" data-aos-delay="50">
            <h1>L'Institut supérieur d'informatique et de multimédia de Sfax <br></h1>
            <a href="#tabs" class="btn-get-started scrollto">A propos ></a>
        </div>
    </section>
    <!-- ======= End of Welcome Section ======= -->
{% endblock %}

{% block body %}
    <!-- ======= Main ======= -->
    <main id="main">
        <!-- ======= A propos Section ======= -->
        <section id="tabs" class="tabs">
            <div  data-aos="fade-up">
                <ul class="nav nav-tabs row d-flex">
                    <li id="tab1" class="nav-item col-4">
                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                            <i><iconify-icon data-icon="fa-solid:university"></iconify-icon></i>
                            <h4 class="d-none d-lg-block">Notre Institut</h4>
                        </a>
                    </li>
                    <li id="tab2" class="nav-item col-4">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                            <i><iconify-icon data-icon="maki:college-11"></iconify-icon></i>
                            <h4 class="d-none d-lg-block">Formation</h4>
                        </a>
                    </li>
                    <li id="tab3" class="nav-item col-4">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                            <i><iconify-icon data-icon="maki:college"></iconify-icon></i>
                            <h4 class="d-none d-lg-block">Préparatoire integré</h4>
                        </a>
                    </li>
                    <li id="tab4" class="nav-item col-4">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                            <i><iconify-icon data-icon="maki:college"></iconify-icon></i>
                            <h4 class="d-none d-lg-block">Ingénierie</h4>
                        </a>
                    </li>
                    <li id="tab5" class="nav-item col-4">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-5">
                            <i><iconify-icon data-icon="fa-solid:user-graduate"></iconify-icon></i>
                            <h4 class="d-none d-lg-block">Vie étudiante</h4>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-xl-8 col-ms-12" data-aos="fade-up" data-aos-delay="100">
                                <h3>L’Institut Supérieur d’Informatique et du Multimédia de Sfax (ISIMS) :</h3>
                                <br>
                                <p>
                                    C'est un établissement scientifique relevant de l’ Université de Sfax . Il a été créé suivant un décret présidentiel paru au journal Officiel de la République Tunisienne daté du 14 Août 2001. L’ISIMS dispose de la personnalité civile et d’une autonomie financière. Il met à la disposition de ses étudiants une formation de base pour aboutir aux spécialités suivantes
                                <ul>
                                    <li>
                                        <i><iconify-icon data-icon="ri:check-double-line"></iconify-icon></i> Dispense un enseignement supérieur ayant pour objet la formation de cadres hautement qualifiés dans les domaines de l’informatique et de la
                                        technologie pour les secteurs publics et privés de la vie économique et de la recherche.
                                    </li>
                                    <li>
                                        <i><iconify-icon data-icon="ri:check-double-line"></iconify-icon></i> Participe à la formation continue des étudiants et à la mission de diffusion de la culture scientifique et technique.
                                    </li>
                                </ul>
                                </p>
                            </div>
                            <div class="col-xl-4  col-lg-12  side" data-aos="fade-up" data-aos-delay="200">
                                <div id="slideshow1" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#slideshow1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#slideshow1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#slideshow1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        {% for i in range(1,3) %}
                                            <div class="carousel-item {% if i == 1 %}active {% endif %}">
                                                <img src="{{asset("assets/img/slideShow2/insat-"~ i ~".jpg")}}" class="d-block w-100 side-img">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#slideshow1" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#slideshow1" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="tab-2">
                        <div class="row">
                            <div class="col-md-3 col-ms-12 ">
                                <div id="counts" class="container counts" data-aos="fade-up">
                                    <div class="row">
                                        <div class="col-md-12 col-6">
                                            <div class="count-box">
                                                <i><iconify-icon data-icon="ph:student-fill"></iconify-icon></i>
                                                <span data-purecounter-start="0" data-purecounter-end="1200" data-purecounter-duration="1" class="purecounter"></span>
                                                <span id="label">ÉTudiants</span>
                                            </div>
                                        </div>
                                        <div class=" col-md-12  col-6">
                                            <div class="count-box">
                                                <i><iconify-icon data-icon="fa-solid:chalkboard-teacher"></iconify-icon></i>
                                                <span data-purecounter-start="0" data-purecounter-end="112" data-purecounter-duration="0.5" class="purecounter"></span>
                                                <span id="label">Enseignants</span>
                                            </div>
                                        </div>
                                        <div class=" col-md-12  col-6">
                                            <div class="count-box">
                                                <i><iconify-icon data-icon="vaadin:diploma-scroll"></iconify-icon></i>
                                                <span data-purecounter-start="0" data-purecounter-end="4000" data-purecounter-duration="0.5" class="purecounter"></span>
                                                <span id="label">Diplômés depuis 2001</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 col-ms-12">
                                <div id="dep" class="dep" data-aos="fade-up">
                                    <ul class="dep-list accordion" data-aos="fade-up">
                                        <li>
                                            <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#dep1">
                                                Licence big data et analyse de données
                                                <i class="icon-show"><iconify-icon data-icon="akar-icons:chevron-down"></iconify-icon></i>
                                                <i class="icon-close"><iconify-icon data-icon="akar-icons:chevron-up"></iconify-icon></i>
                                            </a>
                                            <div id="dep1" class="collapse" data-bs-parent=".dep-list">
                                                <p>
                                                    Former les étudiants dans les technologies de l’informatique et des systèmes d’information afin de développer leurs compétences et leur créativité dans ces domaines. Au terme de cette formation, les licenciés doivent être capables de développer des applications informatiques complètes, des sites web statiques et dynamiques ainsi que des réalisations pour l’aide à la décision comme les tableaux de bord et les applications décisionnelles.
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <a data-bs-toggle="collapse" data-bs-target="#dep2" class="collapsed">
                                                Licence informatique & multimédia
                                                <i class="icon-show"><iconify-icon data-icon="akar-icons:chevron-down"></iconify-icon></i>
                                                <i class="icon-close"><iconify-icon data-icon="akar-icons:chevron-up"></iconify-icon></i>
                                            </a>
                                            <div id="dep2" class="collapse" data-bs-parent=".dep-list">
                                                <p>
                                                    Donner à l’étudiant une formation théorique lui permettant d’acquérir des connaissances et des compétences dans le domaine de l’informatique et du multimédia
                                                    Développer, chez l’étudiant, l’esprit de création, d’initiative et le contrôle des nouvelles technologies de l’information appliquées dans l’environnement socio-économique et dans le domaine de la recherche scientifique à l’échelle nationale et internationale                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <a data-bs-toggle="collapse" data-bs-target="#dep3" class="collapsed">
                                                Mastere de recherche en sciences de l'informatique
                                                <i class="icon-show"><iconify-icon data-icon="akar-icons:chevron-down"></iconify-icon></i>
                                                <i class="icon-close"><iconify-icon data-icon="akar-icons:chevron-up"></iconify-icon></i>
                                            </a>
                                            <div id="dep3" class="collapse" data-bs-parent=".dep-list">
                                                <p>
                                                    Le Mastère recherche en Science de l’Informatique a pour but de donner des connaissances théoriques et pratiques de haut niveau dans les disciplines informatiques et Multimédia. Dans ce cadre, de solides connaissances sont particulièrement nécessaires suite au développement des nouvelles technologies de l’information et de la communication (documents visuels, électroniques, documents multimédia). 
                                                    Le but de ce mastère est de permettre aux étudiants de traiter, en vue de leur analyse et de leur interprétation, des documents numériques de tout type et dans des contextes divers (Internet, multimédia, etc.).
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <a data-bs-toggle="collapse" data-bs-target="#dep4" class="collapsed">
                                                Mastere de recherche enterprise system engineering
                                                <i class="icon-show"><iconify-icon data-icon="akar-icons:chevron-down"></iconify-icon></i>
                                                <i class="icon-close"><iconify-icon data-icon="akar-icons:chevron-up"></iconify-icon></i>
                                            </a>
                                            <div id="dep4" class="collapse" data-bs-parent=".dep-list">
                                                <p>
                                                    Le Mastère ESE s’adresse aux étudiants souhaitant poursuivre leurs études de troisième cycle LMD. Les principaux objectifs de cette formation sont les suivants :<br>
                                                     - Offrir de nouveaux cours d’actualité et ciblés pour les PME.<br>
                                                     - Appliquer de nouvelles méthodes d'enseignement basées sur la compréhension plutôt que la mémorisation.<br>
                                                     - Renforcer la formation pratique et ceci au travers des études de cas réels issus des pays partenaires: Allemagne, Espagne, Portugal, Suède, Egypte, Syrie et la Jordanie.
                                                </p>
                                            </div>
                                        </li>
										<li>
                                            <a data-bs-toggle="collapse" data-bs-target="#dep5" class="collapsed">
                                                Mastere de recherche en data science
                                                <i class="icon-show"><iconify-icon data-icon="akar-icons:chevron-down"></iconify-icon></i>
                                                <i class="icon-close"><iconify-icon data-icon="akar-icons:chevron-up"></iconify-icon></i>
                                            </a>
                                            <div id="dep5" class="collapse" data-bs-parent=".dep-list">
                                                <p>
                                                    Préparer les étudiants aux domaines de recherche liés à l’analyse de données et à l’informatique décisionnelle<br>
                                                    - Approfondir les connaissances en statistique<br>
                                                    - Approfondir les connaissances en outils décisionnels<br>
                                                    - Développer la capacité à élaborer projet décisionnel dans toutes ses phases<br>
                                                </p>
                                            </div>
                                        </li>
										<li>
                                            <a data-bs-toggle="collapse" data-bs-target="#dep6" class="collapsed">
                                                Mastere de recherche en systèmes cyberphysiques
                                                <i class="icon-show"><iconify-icon data-icon="akar-icons:chevron-down"></iconify-icon></i>
                                                <i class="icon-close"><iconify-icon data-icon="akar-icons:chevron-up"></iconify-icon></i>
                                            </a>
                                            <div id="dep6" class="collapse" data-bs-parent=".dep-list">
                                                <p>
                                                   Former des spécialistes maîtrisant les problématiques des systèmes cyber-physiques résultats de la fusion des dimensions physiques et numériques de nos environnements comme l’industrie 4.0, villes intelligentes ou les systèmes de transports intelligents, capables de proposer et de mettre en œuvre des solutions adéquates et innovantes pour appréhender ces systèmes.
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <a data-bs-toggle="collapse" data-bs-target="#dep7" class="collapsed">
                                                Master recherche en science en technologies numériques pour les soins de santé
                                                <i class="icon-show"><iconify-icon data-icon="akar-icons:chevron-down"></iconify-icon></i>
                                                <i class="icon-close"><iconify-icon data-icon="akar-icons:chevron-up"></iconify-icon></i>
                                            </a>
                                            <div id="dep7" class="collapse" data-bs-parent=".dep-list">
                                                <p>
                                                    Former des spécialistes maîtrisant les problématiques des systèmes digitaux pour la santé et le bien être à travers le sport. Ces spécialistes seront polyvalents avec des connaissances sur la santé, la nutrition et des connaissances poussées en informatiques et leur permettant ainsi de développer des applications innovantes pour la santé et ils seront capables de proposer et de mettre en œuvre des solutions adéquates et innovantes pour appréhender des systèmes de mesure de performance, d’analyse de motricité.
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <a data-bs-toggle="collapse" data-bs-target="#dep8" class="collapsed">
                                                Mastere professionnel en innovation et gestion de projets
                                                <i class="icon-show"><iconify-icon data-icon="akar-icons:chevron-down"></iconify-icon></i>
                                                <i class="icon-close"><iconify-icon data-icon="akar-icons:chevron-up"></iconify-icon></i>
                                            </a>
                                            <div id="dep8" class="collapse" data-bs-parent=".dep-list">
                                                <p>
                                                    Ce mastère vise à l’acquisition de connaissances et de compétences essentielles à l’élaboration de stratégies communicationnelles créatives dans des environnements numériques en perpétuelle évolution.<br>
                                                    - Mettre en œuvre des compétences méthodologiques (approches collaboratives et créatives) dans le cadre de réalisations collectives.<br>
                                                    - Acquérir une démarche scientifique en SIC et à questionner le rôle des technologies de l’information et de la communication dans leur globalité et leur complexité (possibilité de poursuite d’études en formation doctorale)<br>
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <a data-bs-toggle="collapse" data-bs-target="#dep9" class="collapsed">
                                                Mastere professionnel en design d'experience et design d'interface
                                                <i class="icon-show"><iconify-icon data-icon="akar-icons:chevron-down"></iconify-icon></i>
                                                <i class="icon-close"><iconify-icon data-icon="akar-icons:chevron-up"></iconify-icon></i>
                                            </a>
                                            <div id="dep9" class="collapse" data-bs-parent=".dep-list">
                                                <p>
                                                    Approfondir les connaissances des étudiants en réalisations audiovisuelles et dans le développement des jeux vidéo et des applications multimédia afin de pourvoir diriger des projets numériques et multimédia<br>
                                                    - Approfondir les connaissances en développement des jeux vidéo et des applications multimédia<br>
                                                    - Approfondir les connaissances en développement des environnements virtuels<br>
                                                    - Développer la capacité à élaborer projet de création numérique dans toutes ses phases
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" tab-pane" id="tab-3">
                        <h3>Cycle préparatoire intégré :</h3>
                        <br>
                        <p>
                            Depuis l’année universitaire 2020-2021, le département ingénierie informatique et multimédia intègre un cycle préparatoire intégré. L’objectif des deux années de préparation intégrée au cycle d’ingénieur de l’ISIMS est d’acquérir principalement un socle de connaissances solides, sur lequel s’appuiera ensuite le cycle ingénieur. Le programme de ces deux années intègre des cours bien poussés en mathématique, électronique, mais il s’en distingue aussi grâce à des enseignements plus concrets en informatique fondamentale et appliqué aux différents contextes et multimédia
                        </p><br>
                        <h3>RÉGIME DES ÉTUDES : </h3><br>
                        <p>L’Institut Supérieur d’Informatique et de Multimédia de Sfax (ISIMS) propose d’assurer une formation d’ingénieurs comme suit :</p>
                        <ul>
                            <li>
                                <i><iconify-icon data-icon="ri:check-double-line"></iconify-icon></i>Un cycle préparatoire intégré en science de l'informatique et du multimédia qui dure 2 ans au cours duquel un seul redoublement est permis. L’admission à ce cycle préparatoire intégré se fait par l’orientation de nouveaux bacheliers.
                            </li>
                            <li>
                                <i><iconify-icon data-icon="ri:check-double-line"></iconify-icon></i>Un cycle de formation pour l’obtention d’un diplôme national d’ingénieurs en informatique et multimédia. Ce cycle dure 3 ans au cours duquel un seul redoublement est permis. L’admission à ce cycle d’ingénieur se fait par voie de concours ouvert aux étudiants inscrits en cycle préparatoire intégré en science de l'informatique et de multimédia de l’ISIMS et sur concours spécifique pour les étudiants de la 3ème année licence et pour les étudiants de la 1 ère année Master.
                            </li>
                        </ul>
                        <div class="row">
                            <div id="diagram" class="col-lg-12 " data-aos="fade-up" data-aos-delay="200">
                                <img id="cycle" class="img-fluid rounded mx-auto d-block" src="{{asset('assets/img/cycle.jpeg')}}">
                            </div>
                        </div>
                    </div>
                    <div class=" tab-pane" id="tab-4">
                        <h3>Ingénierie :</h3>
                        <br>
                        <p>
                            L’un des objectifs fondamentaux de cette formation, est le développement chez les étudiants ingénieurs, l’esprit créatif, scientifique et technique dans les domaines du multimédia et du Web.<br> Le diplôme d’Ingénieur en Informatique, Technologies Web & Multimédia a pour but de former des cadres supérieurs scientifiques capables de conduire l’étude, la conception, le développement et la réalisation de projets dans les secteurs de l’entreprise.
                        </p>
                        <p>Les ingénieurs ayant suivi cette formation pourront assurer, en plus des tâches informatiques traditionnelles, des responsabilités aussi variées que celles liées aux domaines suivants : </p>
                        <ul>
                            <li>
                                <i><iconify-icon data-icon="ri:check-double-line"></iconify-icon></i>Internet : Chef de projet, consultant en solutions Internet, consultant e-business, développeur en nouvelles technologies Internet, administrateur réseaux Internet / Intranet, ….
                            </li>
                            <li>
                                <i><iconify-icon data-icon="ri:check-double-line"></iconify-icon></i>Ingénierie ITMW : Ingénieur de recherche en ITMW, chef de projet,  consultant en SSII,...
                            </li>
                            <li>
                                <i><iconify-icon data-icon="ri:check-double-line"></iconify-icon></i>Audiovisuel numériques : Ingénieur Monteur, truquiste, effets spéciaux, chargé de production,...
                            </li>
                            <li>
                                <i><iconify-icon data-icon="ri:check-double-line"></iconify-icon></i>Multimédia : Chef de projet, développeur nouvelles technologies (Réalité virtuelle, animation 3D, ...), développeur produits multimédia (CD Interactif, animation 2D, ...), Ingénieur R&D en traitement d’image et de la vidéo, etc…
                            </li>
                        </ul>
                        <div class="row">
                            <div id="diagram" class="col-lg-12 " data-aos="fade-up" data-aos-delay="200">
                                <img id="cycle" class="img-fluid rounded mx-auto d-block" src="{{asset('assets/img/ing.jpeg')}}">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-5">
                        <h3>La vie associative :</h3>
                        <br>
                        <p> À l'ISIMS l'étudiant aura non seulement la formation educative mais aussi une formation qui lui permet d’apprendre à vivre en société et d’acquérir la compétence de développer le savoir-faire et le savoir-être pour se préparer
                            à l’insertion professionnelle.<br>grâce aux clubs et leurs activités :
                        </p>
                        <br>
                    </div>
                </div>
            </div>
            <div id="clubs" class="clubs">
                <div class="clubs-slider swiper-container">
                    <div class="swiper-wrapper align-items-center">
                        {% for i in range(1,8) %}
                            <div class="swiper-slide"><img src="{{asset("assets/img/clubs/club-"~i~".png")}}" class="img-fluid"></div>
                        {% endfor %}
                    </div>
                    <br><br>
                </div>
            </div>
        </section>
        <!-- ======= End of A propos Section ======= -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div data-aos="fade-up">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-6">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i><iconify-icon data-icon="bx:bx-map"></iconify-icon>  </i>
                                <h3>Notre Adresse</h3>
                                <div class="mapouter">
                                    <div class="gmap_canvas">
                                        <iframe width="95%" height="350"
                                                id="gmap_canvas"
                                                src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=isims&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no"
                                                marginheight="0" marginwidth="0">

                                        </iframe><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-md-12">
                            {% for label, messages in app.flashes %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ label }}">
                                        <div class="container">
                                            {{ message }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            <form class=" php-email-form info-box" method="POST" action="{{ path("contact") }}">
                                <i><iconify-icon data-icon="ant-design:mail-outlined"></iconify-icon></i>
                                <h3>Contactez Nous</h3>
                                <div class="row">
                                    <div class="col form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" required>
                                    </div>
                                    <div class="col form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Votre e-mail" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" required>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                                </div>
                                <div class="text-center"><button type="submit" name="submit">Envoyer</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======= End of Contact Section ======= -->
    </main>
    <!-- ======= End of Main ======= -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $("#flash-fade").delay(1500).fadeOut(1500);
    </script>
{% endblock %}
